<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ../partials/links-and-scripts %>
    <!-- links and scripts that should go only on this page go here (outside partial) -->
  </head>
  <body>
    <h1>Schedule API</h1>
    <h2>Routes</h2>
    <h3>GET /schedules/:url_name</h3>
    <h3>POST /schedules/:url_name</h3>
    <h3>POST /schedules/:url_name</h3>
  </body>
</html>
